name: Build Windows Flutter App

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Enable Windows Desktop
        run: flutter config --enable-windows-desktop

      - name: Get Packages
        run: flutter pub get

      - name: Build Windows Release
        run: flutter build windows --release

      - name: Upload EXE Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Windows-Build
          path: build/windows/x64/runner/Release/
          compression-level: 6
